/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: calc(100% - 10vh);
}

main{
    border: 8px solid blue;
    flex-grow: 1;
    display: flex;
    background-color: rgba(20, 25, 34);
}

footer{
    border: 8px solid blue;
    background-color: rgba(40, 40, 40, 1);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

/*Sidebar*/

.sidebar{
    /*border: 5px solid red;*/
    width: 250px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar :nth-child(2, 3){
    width: 100%;
    height: 100%;
}

.logo{
    /*border: 3px dashed yellow;*/
    width: 100%;
    height: 10%;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.logo img{
    /*border: 1px double blue;*/
}

.widget .middle{
    /*border: 3px dashed yellow;*/
}

#middle{
    flex-grow: 1;
    width: 100%;
}

.menu-item{
    /*border: 3px dashed yellow;*/
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.menu-item:hover{
    color: white;
}

.menu-item .icon{
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: rgba(163, 163, 163, 1);
    font-size: 22px;
}

.menu-item span{
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    color: rgba(163, 163, 163, 1);
}

#user{
    border: 1px solid red;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user{
    border: 1px solid red;
}

#last .user{
    display: flex;
    flex-direction: row;
}

.menu-item {
    flex-basis: 50px;
}

#under{
    border-bottom: 2px solid silver;
    margin: 0px 5px;
}

.menu-item img{

}

.new{
    padding: 5px 8px;
}

.widget__title{
    padding: 10px 13px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.user__name{
    padding: 10px 13px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

#big{
    font-size: 35px;
}
/*
.user::after{
    content: "";
    display: block;
    height: 1px;
    color: grey;
}*/

/*Schermata principale*/

.main-container{
    /*border: 5px solid red;*/
    flex-grow: 1;
}

.main-container .due{
    display: flex;
    justify-content: flex-end;
}

/*Upgrade zone*/

.upgradebar{
    /*border: 3px dashed yellow;*/
    height: 7%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
}

.upgradebar button{
    padding: 8px 30px;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid white;
    color: white;
    background-color: rgba(20, 25, 34, 1);
}

/*Navbar*/

.navbar{
    /*border: 3px dashed yellow;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.navbar li{
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
    font-weight: 700;
}

.navbar:first-child{
    padding-left: 25%;
}

.navbar:last-child {
    padding-right: 25%;
}


/*Main*/

#title{
    color: white;
    font-weight: 700;
    padding: 10px 20px;
}

.description{
    display: block;
    color: grey;
    padding-bottom: 23px;
    padding-left: 20px;
    font-size: 14px;
}

.played-wrapper{
    /*border: 4px double green;*/
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

.personal-wrapper{
    margin: 0 20px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}

.played-item{
    /*border: 4px solid yellow;*/
    display: flex;
    flex-direction: column;
    padding: 0 0px;
    width: 15%;
}

.card-header img{/*
    height: 200px;
    width: 200px;*/
}

.card-body h1{
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.card-body span{
    display: block;
    color: grey;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

#last{

    padding-top: 200px;
}

.download{
    width: 100%;
    border-bottom: 1px solid grey;
    margin: 0px 5px;
    padding-bottom: 10px;
}

.round{
    border-radius: 50%;
}

/*Footer - Barra del play*/

/*footer{
    border: 8px solid blue;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}*/

.info-song{
    height: 75px;
    /*border: 3px dashed orange;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.song-cover img{
    width: 65px;
    height: 65px;
    padding: 10px;
}

.song-info{
    height: 90%;
    /*border: 2px double blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-info h5{
    color: white;
    font-size: 12px;
    padding: 5px 5px 0px 5px;
}

.song-info span{
    color: silver;
    font-size: 10px;
    padding: 0px 5px 5px 5px;
}

.position-song{
    height: 90%;
    /*border: 2px double blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-song i{
    color: silver;
    padding: 8px;
}

.position-song i:first-child{
    padding-left: 50px;
}

.play-zone{
    height: 75px;
    border: 3px dashed orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.play-icon{
    height: 50%;
    border: 2px double blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon i{
    color: white;
    padding: 5px 20px;
}

.play-icon i:nth-child(3){
    border: 1px solid white;
    border-radius: 99999px;
}

.play-time{
    height: 50%;
    border: 2px double blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-zone{
    height: 75px;
    border: 3px dashed orange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.volume{
    height: 80%;
    border: 2px double blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume i{
    color: white;
    padding: 8px;
}
/*Debug*/
